global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "node_exporter"
    static_configs:
{% for h in groups.get('all', []) %}
      - targets: ["{{ hostvars[h].node_ip }}:9100"]
        labels:
          env: "dev"
{% if h in groups.get('vpn', []) %}
          instance: "vpn"
          role: "infra"
{% elif h in groups.get('app', []) %}
          instance: "app"
          role: "app"
{% else %}
          instance: "{{ h }}"
          role: "unknown"
{% endif %}
{% endfor %}

  - job_name: "nginx"
    static_configs:
{% for h in groups.get('app', []) %}
      - targets: ["{{ hostvars[h].node_ip }}:9113"]
        labels:
          env: "dev"
          instance: "app"
          role: "app"
{% endfor %}
